<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizza</title>
	<link rel="stylesheet" href="pizza.css">
</head>

<body>
	<div class="container" id="app">
		<div class="header">
			<div class="header__title">Доставка пиццы
			</div>
		</div>
		<div class="grid-template-pizza">
			<div class="grid-template-pizza__item">
				<img src="img/lolosos.jpg" alt="" class="grid-template-pizza">
				<div class="grid-template-pizza__title-info">
					<div class="grid-template-pizza__title">Лолосось</div>
					<button @click="infoCounter++" type="submit" class="grid-template-pizza__info">i<div
							v-if="infoCounter % 2 == 0" class="grid-template-pizza__info2">
							<div class="grid-template-pizza__info-arrow"></div>
							Пищевая ценность на 100 г <br>
							Энерг. ценность <span class="right">236.8 ккал</span><br>
							Белки <span class="right">10.7 г </span><br>
							Жиры <span class="right">9.6 г</span><br>
							Углеводы<span class="right">26.9 г</span> <br>
							Вес <span class="right">411 г</span><br>
						</div></button>
				</div>
				<div class="grid-template-pizza__text">Филе лосося, сыр моцарелла, сыр креметта, соус Песто, сливочный соус,
					томаты черри</div>
				<div class="grid-template-pizza__checkboxs">
					<div class="grid-template-pizza__checkbox">
						<input v-model="lolososCost" checked type="radio" name="size1" value="379"> 25 см

					</div>
					<div class="grid-template-pizza__checkbox">
						<input v-model="lolososCost" type="radio" name="size1" value="549"> 30 см
					</div>
					<div class="grid-template-pizza__checkbox">
						<input v-model="lolososCost" type="radio" name="size1" value="699"> 35 см
					</div>
				</div>
				<div class="grid-template-pizza__type">
					<button v-if="lolososCost == 379" type="submit" class="grid-template-pizza__type-button">Пышное
						тесто</button>
					<div v-else class="grid-template-pizza__type-button check-div">
						<label class="radio-label">
							<input class="grid-template-pizza__type-checkbox" id="radio-1" name="radio" type="radio" checked>
							<span class="check-style check-style1">Пышное тесто</span>
						</label>
						<label class="radio-label">
							<input class="grid-template-pizza__type-checkbox" id="radio-2" name="radio" type="radio">
							<span class="check-style">Tонкое</span>
						</label>
					</div>
				</div>
				<div class="grid-template-pizza__cost-button">
					<div class="grid-template-pizza__cost">{{lolososCost + ' ₽'}}</div>
					<button v-if="counter < 1" @click="counter++" class="grid-template-pizza__to-bascet-button">В
						корзину</button>
					<div v-else class="grid-template-pizza__in-bascet">
						<div class="grid-template-pizza__gal">
							<img src="img/gal.svg" alt="">
						</div>
						<button @click="counter--" type="submit" class="counter--">-</button>
						<div class="counter">{{counter}}</div>
						<button @click="counter++" type="submit" class="counterplus">+</button>
					</div>
				</div>
			</div>
			<div class="grid-template-pizza__item">
				<img src="img/chicken-blue.jpg" alt="" class="grid-template-pizza">
				<div class="grid-template-pizza__title-info">
					<div class="grid-template-pizza__title">Чикен Блю чиз</div>
					<button @click="infoCounter2++" type="submit" class="grid-template-pizza__info">i<div
							v-if="infoCounter2 % 2 == 0" class="grid-template-pizza__info2">
							<div class="grid-template-pizza__info-arrow"></div>
							Пищевая ценность на 100 г <br>
							Энерг. ценность <span class="right">236.8 ккал</span><br>
							Белки <span class="right">10.7 г </span><br>
							Жиры <span class="right">9.6 г</span><br>
							Углеводы<span class="right">26.9 г</span> <br>
							Вес <span class="right">411 г</span><br>
						</div></button>
				</div>
				<div class="grid-template-pizza__text">Копченый цыпленок, соус Пармеджано, сыры моцарелла и блю чиз, томаты
				</div>
				<div class="grid-template-pizza__checkboxs">
					<div class="grid-template-pizza__checkbox">
						<input v-model='chickenBlueCost' checked type="radio" name="size2" value="349"> 25 см
					</div>
					<div class="grid-template-pizza__checkbox">
						<input v-model='chickenBlueCost' type="radio" name="size2" value="499"> 30 см
					</div>
					<div class="grid-template-pizza__checkbox">
						<input v-model='chickenBlueCost' type="radio" name="size2" value="699"> 35 см
					</div>
				</div>
				<div class="grid-template-pizza__type">
					<button v-if="chickenBlueCost == 349" type="submit" class="grid-template-pizza__type-button">Пышное
						тесто</button>
					<div v-else class="grid-template-pizza__type-button check-div">
						<label class="radio-label">
							<input class="grid-template-pizza__type-checkbox" id="radio-3" name="radio-2" type="radio" checked>
							<span class="check-style check-style1">Пышное тесто</span>
						</label>
						<label class="radio-label">
							<input class="grid-template-pizza__type-checkbox" id="radio-4" name="radio-2" type="radio">
							<span class="check-style">Tонкое</span>
						</label>
					</div>
				</div>
				<div class="grid-template-pizza__cost-button">
					<div class="grid-template-pizza__cost">{{chickenBlueCost + ' ₽'}}</div>
					<button v-if="counter2 < 1" @click="counter2++" class="grid-template-pizza__to-bascet-button">В
						корзину</button>
					<div v-else class="grid-template-pizza__in-bascet">
						<div class="grid-template-pizza__gal">
							<img src="img/gal.svg" alt="">
						</div>
						<button @click="counter2--" type="submit" class="counter--">-</button>
						<div class="counter">{{counter2}}</div>
						<button @click="counter2++" type="submit" class="counterplus">+</button>
					</div>
				</div>
			</div>
			<div class="grid-template-pizza__item">
				<img src="img/asia-chicken.jpg" alt="" class="grid-template-pizza">
				<div class="grid-template-pizza__title-info">
					<div class="grid-template-pizza__title">Азиатский цыпленок</div>
					<button @click="infoCounter3++, infoCounter4 = 1" type="submit" class="grid-template-pizza__info">i<div
							v-if="infoCounter3 % 2 == 0" class="grid-template-pizza__info2">
							<div class="grid-template-pizza__info-arrow"></div>
							Пищевая ценность на 100 г <br>
							Энерг. ценность <span class="right">236.8 ккал</span><br>
							Белки <span class="right">10.7 г </span><br>
							Жиры <span class="right">9.6 г</span><br>
							Углеводы<span class="right">26.9 г</span> <br>
							Вес <span class="right">411 г</span><br>
						</div></button>
				</div>
				<div class="grid-template-pizza__text">Копченый цыпленок, моцарелла, томатный соус, кисло-сладкий соус</div>
				<div class="grid-template-pizza__checkboxs">
					<div class="grid-template-pizza__checkbox">
						<input v-model='asiaChickenCost' checked type="radio" name="size3" value="279"> 25 см
					</div>
					<div class="grid-template-pizza__checkbox">
						<input v-model='asiaChickenCost' type="radio" name="size3" value="389"> 30 см
					</div>
					<div class="grid-template-pizza__checkbox">
						<input v-model='asiaChickenCost' type="radio" name="size3" value="499"> 35 см
					</div>
				</div>
				<div class="grid-template-pizza__type">
					<button v-if="asiaChickenCost == 279" type="submit" class="grid-template-pizza__type-button">Пышное
						тесто</button>
					<div v-else class="grid-template-pizza__type-button check-div">
						<label class="radio-label">
							<input class="grid-template-pizza__type-checkbox" id="radio-5" name="radio-3" type="radio" checked>
							<span class="check-style check-style1">Пышное тесто</span>
						</label>
						<label class="radio-label">
							<input class="grid-template-pizza__type-checkbox" id="radio-6" name="radio-3" type="radio">
							<span class="check-style">Tонкое</span>
						</label>
					</div>
				</div>
				<div class="grid-template-pizza__cost-button">
					<div class="grid-template-pizza__cost">{{asiaChickenCost + ' ₽'}}</div>
					<button v-if="counter3 < 1" @click="counter3++" class="grid-template-pizza__to-bascet-button">В
						корзину</button>
					<div v-else class="grid-template-pizza__in-bascet">
						<div class="grid-template-pizza__gal">
							<img src="img/gal.svg" alt="">
						</div>
						<button @click="counter3--" type="submit" class="counter--">-</button>
						<div class="counter">{{counter3}}</div>
						<button @click="counter3++" type="submit" class="counterplus">+</button>
					</div>
				</div>
			</div>
			<div class="grid-template-pizza__item">
				<img src="img/lolosos.jpg" alt="" class="grid-template-pizza">
				<div class="grid-template-pizza__title-info">
					<div class="grid-template-pizza__title">Итальянская</div>
					<button @click="infoCounter4++, infoCounter3 = 1" type="submit" class="grid-template-pizza__info">i<div
							v-if="infoCounter4 % 2 == 0" class="grid-template-pizza__info2">
							<div class="grid-template-pizza__info-arrow"></div>
							Пищевая ценность на 100 г <br>
							Энерг. ценность <span class="right">236.8 ккал</span><br>
							Белки <span class="right">10.7 г </span><br>
							Жиры <span class="right">9.6 г</span><br>
							Углеводы<span class="right">26.9 г</span> <br>
							Вес <span class="right">411 г</span><br>
						</div></button>
				</div>
				<div class="grid-template-pizza__text">Филе лосося, сыр моцарелла, сыр креметта, соус Песто, сливочный соус,
					томаты черри</div>
				<div class="grid-template-pizza__checkboxs">
					<div class="grid-template-pizza__checkbox">
						<input v-model='italianCost' checked type="radio" name="size4" value="299"> 25 см

					</div>
					<div class="grid-template-pizza__checkbox">
						<input v-model='italianCost' type="radio" name="size4" value="439"> 30 см
					</div>
					<div class="grid-template-pizza__checkbox">
						<input v-model='italianCost' type="radio" name="size4" value="549"> 35 см
					</div>
				</div>
				<div class="grid-template-pizza__type">
					<button v-if="italianCost == 299" type="submit" class="grid-template-pizza__type-button">Пышное
						тесто</button>
					<div v-else class="grid-template-pizza__type-button check-div">
						<label class="radio-label">
							<input class="grid-template-pizza__type-checkbox" id="radio-7" name="radio-4" type="radio" checked>
							<span class="check-style check-style1">Пышное тесто</span>
						</label>
						<label class="radio-label">
							<input class="grid-template-pizza__type-checkbox" id="radio-8" name="radio-4" type="radio">
							<span class="check-style">Tонкое</span>
						</label>
					</div>
				</div>
				<div class="grid-template-pizza__cost-button">
					<div class="grid-template-pizza__cost">{{italianCost + ' ₽'}}</div>
					<button v-if="counter4 < 1" @click="counter4++" class="grid-template-pizza__to-bascet-button">В
						корзину</button>
					<div v-else class="grid-template-pizza__in-bascet">
						<div class="grid-template-pizza__gal">
							<img src="img/gal.svg" alt="">
						</div>
						<button @click="counter4--" type="submit" class="counter--">-</button>
						<div class="counter">{{counter4}}</div>
						<button @click="counter4++" type="submit" class="counterplus">+</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="pizza.js"></script>
</body>

</html>